@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

div.sites{
    float: left;
    margin: 20px;
    border: 2px solid rgba(2, 2, 2, 0.521);
    background-color: rgba(2, 2, 2, 0.521);
}
div.menu{
    height: inherit;
    width: inherit;
    margin-left: 140px;
    margin-right: 140px;
}
div.title{
    background-color: rgba(2, 2, 2, 0.363);
    width: inherit;
    height: 100px;
    border: 0cm;
}
div.img{
    float: left;
    margin: 20px;
}

.shake-image {
    transition: transform 0.4s ease-in-out;
}

.shake-image:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }
}
 /* import font */

:root{
    --white: #b5bbcf;
    --black: #36383F;
    --gray: #7d87a8;
} /* variables*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px #7d87a8;;
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 20px;
    color: var(--white);
    background-color: #0f1b3f56;
}
.menu a:hover{
    background-color: rgb(13, 13, 17);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: #7d87a8;

    }

    .hamb{
        display: none;
    }
}
/* Sub nav */
.subnav-content {
    background-color:  var(--white);
    width: conte;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
    position: fixed;
  }
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}
.subnav:hover .subnav-content {
    display: block;
    background-color: transparent;
}
@media (min-width: 768px) {
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--black);
    }
    .subnav-content a {
        color: white;
       padding-left: 10px;
       padding-right: 10px;
    }
}